//! **************************************************************************
// Written by: Map P.20131013 on Thu Feb 16 22:33:39 2017
//! **************************************************************************

SCHEMATIC START;
COMP "VGARAM_CE" LOCATE = SITE "P88" LEVEL 1;
COMP "CLK" LOCATE = SITE "P43" LEVEL 1;
COMP "CHARRAM_CE" LOCATE = SITE "P89" LEVEL 1;
COMP "DEBUG" LOCATE = SITE "P13" LEVEL 1;
COMP "HSYNC" LOCATE = SITE "P49" LEVEL 1;
COMP "VSYNC" LOCATE = SITE "P50" LEVEL 1;
COMP "DEBUG2" LOCATE = SITE "P15" LEVEL 1;
COMP "RGB<0>" LOCATE = SITE "P20" LEVEL 1;
COMP "RGB<1>" LOCATE = SITE "P32" LEVEL 1;
COMP "RGB<2>" LOCATE = SITE "P33" LEVEL 1;
COMP "RGB<3>" LOCATE = SITE "P34" LEVEL 1;
COMP "RGB<4>" LOCATE = SITE "P35" LEVEL 1;
COMP "RGB<5>" LOCATE = SITE "P36" LEVEL 1;
COMP "RAM_WR" LOCATE = SITE "P90" LEVEL 1;
COMP "ADDR<10>" LOCATE = SITE "P5" LEVEL 1;
COMP "ADDR<11>" LOCATE = SITE "P4" LEVEL 1;
COMP "ADDR<0>" LOCATE = SITE "P85" LEVEL 1;
COMP "ADDR<1>" LOCATE = SITE "P84" LEVEL 1;
COMP "ADDR<2>" LOCATE = SITE "P83" LEVEL 1;
COMP "ADDR<3>" LOCATE = SITE "P78" LEVEL 1;
COMP "ADDR<4>" LOCATE = SITE "P77" LEVEL 1;
COMP "ADDR<5>" LOCATE = SITE "P65" LEVEL 1;
COMP "ADDR<6>" LOCATE = SITE "P70" LEVEL 1;
COMP "ADDR<7>" LOCATE = SITE "P71" LEVEL 1;
COMP "ADDR<8>" LOCATE = SITE "P72" LEVEL 1;
COMP "ADDR<9>" LOCATE = SITE "P73" LEVEL 1;
COMP "DATA<0>" LOCATE = SITE "P59" LEVEL 1;
COMP "DATA<1>" LOCATE = SITE "P60" LEVEL 1;
COMP "DATA<2>" LOCATE = SITE "P61" LEVEL 1;
COMP "DATA<3>" LOCATE = SITE "P62" LEVEL 1;
COMP "DATA<4>" LOCATE = SITE "P64" LEVEL 1;
COMP "DATA<5>" LOCATE = SITE "P57" LEVEL 1;
COMP "DATA<6>" LOCATE = SITE "P56" LEVEL 1;
COMP "DATA<7>" LOCATE = SITE "P52" LEVEL 1;
TIMEGRP CLK = BEL "I_pixel_clock/pulse" BEL "CLK_BUFGP/BUFG.GCLKMUX" BEL
        "CLK_BUFGP/BUFG";
TS_CLK = PERIOD TIMEGRP "CLK" 20 ns HIGH 50%;
SCHEMATIC END;

